 .items {
   font-size: 3rem;
 }

 header {
   top: 0;
   border-radius: 0;
 }

 .hero {
   height: 100vh;
   padding: 288px 120px;
 }

 .hero__hi {
   font-size: 3.8rem;
 }

 h1 {
   font-size: 7.5rem;
 }

 .hero__description {
   font-size: 4rem;
 }

 .text__detail,
 .project__description-p,
 .recomendacion__articles p,
 .learning__description {
   font-size: 2rem;
 }
 .project__description-p {
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }
 .project__description-p img {
  width: 50%;
  margin-right: 15px;
}
.mentori {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mentori p {
  width: 50%;
  margin-right: 15px;
}
.sponsor {
  display: flex;
  padding: 0 20%;
}
.sponsor-contain {
  margin: 15px;
}
.mentori__img {
  justify-content: space-evenly;
}
.mentori__img img {
  width: 80px;
  height: 60px;
}

 .services__articles,
 .container_course,
 .skill__container,
 .container__projects,
 .clients,
 .learnin_course {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   overflow: hidden;
 }

 .deskopt {
   display: flex;
 }

 .estuding__course {
   margin: 20px 25px;
 }

 .form {
   padding: 10px 254px;
 }

 footer {
   height: 10vh;
 }

 .botton-dark {
   width: 60px;
 }

 .botton-dark::before {
   transform: translateX(35px);
 }

 .learning__course-article {
   margin-top: 20px;
 }