/****************************ENTORNO BASICO**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: var(--base);
  color: var(--color);
}
:root {
  --color: #000;
  --base: #fff;
  --headerBackground: #fbf7f7;
  --colorHeader: #000;
  --gray: gray;
  --botoDark: #5f336f;
  --title: #ffb400;
  --fondo: rgba(255, 255, 255, 0.6);
}
.container {
  width: 90%;
  max-width: 900px;
  min-width: 320px;
  /* padding: 0 10px; */
  margin: 0 auto;
}
.animado {
  opacity: 0;
  transition: all 3s;
}
/****************************HEADER**************************/
header {
  background-color: var(--headerBackground);
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  border-radius: 13px 13px 0 0;
}
header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}
header ul li a img {
  display: block;
  margin: 0 auto 10px;
}
header ul li a {
  font-size: 1.3rem;
  color: var(--colorHeader);
  transition: all 5s;
}
/****************************HEROOO**************************/
#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.hero {
  height: 90vh;
  width: 100%;
  padding: 160px 30px;
}
.hero__hi {
  font-size: 1.8rem;
}
h1 {
  font-size: 3.8rem;
  padding: 10px 0;
  font-weight: 900;
}
.hero__description {
  float: left;
  position: relative;
  font-size: 2rem;
}
.hero__description span {
  position: absolute;
  right: 0;
  width: 0;
  border-left: 1px solid #000;
  background: var(--base);
  animation: maquina 3s infinite alternate steps(26);
}
@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
/****************************ABOUT**************************/
.about {
  background: var(--fondo);
  border-radius: 15px;
}
.linea {
  border-bottom: 4px solid var(--title);
  width: 90px;
  margin-bottom: 40px;
}
.about__title {
  font-size: 3rem;
  color: var(--title);
  font-weight: 900;
}
.info {
  display: flex;
}
.info_profile img {
  border-radius: 50%;
  margin: 0 15px;
}
.info__title {
  font-size: 2.4rem;
  margin-bottom: 5px;
}
.city-pais {
  display: flex;
}
.infor__city {
  font-size: 1.4rem;
  margin-right: 5px;
}
.info__profession {
  font-size: 1.3rem;
  color: var(--title);
  font-weight: 700;
}
.text {
  font-size: 1.8rem;
  padding: 15px 5px;
}
.redes {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.redes img {
  width: 40px;
  height: 40px;
  color: var(--title);
}
.services__articles {
  display: flex;
  height: 250px;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.services h2 {
  color: #c7adcd;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.services__card {
  scroll-snap-align: center;
  height: 150px;
  width: 60%;
  min-width: 205px;
  max-width: 350px;
  /* border: 1px solid red; */
  background: linear-gradient(180deg, #ffb400 0%, #ac84b6 91.15%);
  padding: 30px 10px;
  border-radius: 15px;
  margin: 20px 10px 20px 0;
}
.services__card img {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
}
.services__card span {
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
  text-align: center;
}
/******************************************************/
/****************************BOTON DARK**************************/
.dark__mode {
  /* position: fixed; */
  position: fixed;
  right: 0;
  margin: 10px;
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .botton-dark::before {
  transform: translateX(0);
}
.botton-dark {
  /* border: 1px solid red; */
  height: 30px;
  width: 60px;
  display: block;
  border-radius: 20px;
  background: var(--dark);
  padding: 3px;
  cursor: pointer;
  user-select: none;
}
.botton-dark::before {
  content: "";
  display: block;
  background: var(--botoDark);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: translateX(30px);
  transition: 0.3s;
  will-change: transform;
}
.is-dark-mode {
  --base: #000;
  /* linear-gradient(180deg, #040404 26.56%, #5f336f 100%); */
  --color: #fff;
  --dark: linear-gradient(
    90deg,
    #ffb400 13.38%,
    rgba(33, 78, 167, 0.6) 52.24%,
    #7a15fb 90.03%
  );
  --fondo: rgba(0, 0, 0, 0.9);
}
.is-light-mode {
  --base: #fff;
  --headerBackground: #fbf7f7;
  --colorHeader: #000;
  --gray: gray;
  --botoDark: #5f336f;
  --color: #000;
  --fondo: rgba(255, 255, 255, 0.6);
}
@media (prefers-color-scheme: dark) {
  :root {
    --base: #000;
    --color: #fff;
    --dark: linear-gradient(
      90deg,
      #ffb400 13.38%,
      rgba(33, 78, 167, 0.6) 52.24%,
      #7a15fb 90.03%
    );
    --fondo: rgba(0, 0, 0, 0.9);
  }
}
