/****************************ENTORNO BASICO**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--base);
  color: var(--color);
}

:root {
  --color: #000;
  --base: #fff;
  --headerBackground: rgba(255, 180, 0, 0.9);
  --colorHeader: #000;
  --gray: gray;
  --botoDark: linear-gradient(90deg,
      rgba(255, 180, 0, 0.76) 15.4%,
      rgba(255, 231, 106, 0.9) 49.63%);
  --title: #ffb400;
  --fondo: rgba(255, 255, 255, 0.6);
  --dark: linear-gradient(90deg,
      #76757d 70.06%,
      rgba(174, 171, 163, 0.88) 94.35%,
      #b0b1b3 110%);
  --items: #ffb400;
}

.container {
  width: 90%;
  max-width: 900px;
  min-width: 320px;
  /* padding: 0 10px; */
  margin: 0 auto;
}

.animado {
  opacity: 0;
  transition: all 3s;
}

.subtitle {
  font-size: 4rem;
  color: var(--title);
  border-bottom: 5px solid var(--title);
  /* width: 50%; */
  margin: 40px 0;
  display: flex;
  align-items: center;
}

.items {
  font-size: 2rem;
  color: var(--items);
  margin: 20px 0;
}

/****************************HEADER**************************/
header {
  background-color: var(--headerBackground);
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  border-radius: 13px 13px 0 0;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

header ul li a img {
  display: block;
  margin: 0 auto 10px;
}

header ul li a {
  font-size: 1.3rem;
  color: var(--colorHeader);
  transition: all 5s;
}

/****************************HEROOO**************************/
#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero {
  height: 90vh;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__hi {
  font-size: 1.8rem;
}

h1 {
  font-size: 3.8rem;
  padding: 10px 0;
  margin-left: 10px;
  font-weight: 900;
}

.hero__description {
  float: left;
  position: relative;
  font-size: 2rem;
}

.hero__description span {
  position: absolute;
  right: 0;
  width: 0;
  border-left: 1px solid #000;
  background: var(--base);
  animation: maquina 5s infinite alternate steps(32);
}

@keyframes maquina {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

/****************************ABOUT**************************/
.about,
.skills,
.proyectos,
.services,
.Learning,
.contact {
  background: var(--fondo);
  border-radius: 15px;
}

.info {
  display: flex;
}

.info_profile img {
  border-radius: 50%;
  margin: 0 15px;
}

.info__title {
  font-size: 2.4rem;
  margin-bottom: 5px;
}

.city-pais {
  display: flex;
}

.infor__city {
  font-size: 1.4rem;
  margin-right: 5px;
}

.info__profession {
  font-size: 1.3rem;
  color: var(--title);
  font-weight: 700;
}

.text {
  font-size: 1.8rem;
  padding: 15px 5px;
}

.text__detail {
  font-size: 1.7rem;
  text-align: left;
}

.redes {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.redes img {
  width: 40px;
  height: 40px;
  color: var(--title);
}

.services__articles {
  display: flex;
  /* height: 250px; */
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.services__card {
  scroll-snap-align: center;
  height: 150px;
  width: 60%;
  min-width: 130px;
  max-width: 210px;
  background: linear-gradient(180deg, #b7b7b7 0%, #ffffff 74.48%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
  border: none;
  padding: 30px 10px;
  border-radius: 15px;
  margin: 20px 10px 20px 10px;
}

.services__card img {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

.services__card span {
  padding: 10px;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

.experience__articles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0;
}

.experience__articles-img img {
  margin-right: 15px;
  width: 90px;
  height: 90px;
}



.experience__article-mas img {
  width: 20px;
  height: 20px;
}

.experience__articles-text p {
  font-size: 1.8rem;
  margin: -15px 0;
}

.experience__articles-text span {
  font-size: 4.6rem;
  font-weight: 900;
  margin-left: 20px;
}

.container_course {
  display: flex;
  margin: 30px 0;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.misEstudios {
  font-size: 1.6rem;
  margin-bottom: 25px;
}

.diplomas {
  background: var(--title);
  padding: 10px;
  border-radius: 10px;
  font-size: 1.3rem;
  color: #000;
}

.estuding__course {
  scroll-snap-align: center;
  margin: 0 25px;
}

.estuding__course-img img {
  width: 70px;
}

.estuding__course-detail {
  height: 70px;
  margin: 0 auto;
}

.estuding__course-detail h3 {
  font-size: 1.3rem;
  text-align: center;
}

.estuding__course-detail p {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 25px;
}

.botonVer {
  font-size: 1.2rem;
  color: var(--base);
  background: var(--title);
  padding: 5px;
  text-align: center;
  margin-top: -20px;
  border-radius: 30px;
}

/**********************************SKILLS********************/

.skill__container {
  display: flex;
  align-items: center;
  /* height: 150px; */
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.coding__article {
  scroll-snap-align: center;
  margin-right: 45px;
  text-align: center;
  margin: 20px 2px 20px 16px;
}

.coding__article img {
  width: 70px;
  height: 70px;
}

.coding__article p {
  font-size: 1.6rem;
  font-weight: 700;
}

.leng1 {
  display: flex;
  padding: 15px 0;
  align-items: center;
}

.leng1 img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.leng1 p {
  font-size: 1.6rem;
}

/****************************PROYECTOS**************************/
.proyectos {
  margin-top: 30px;
  padding-top: 30px;
}

.project__title i img {
  width: 20px;
  height: 20px;
}

.title_proyectos {
  padding: 20px 0;
}

.container__projects {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.project__content img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.project__screenshots img {
  width: 200px;
  height: 350px;
}

.project_article {
  font-size: 1.6rem;
  text-align: center;
  margin: 50px 10px 30px 20px;
  scroll-snap-align: center;
}

.project_article small {
  color: var(--color);
  font-weight: 400;
}

.project__boton {
  width: 100px;
  height: 30px;
  background: var(--title);
  text-align: center;
  margin: 10px auto;
  border-radius: 15px;
}

.project__boton a {
  color: #fff;
  font-weight: bold;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__description-p {
  font-size: 1.7rem;
  font-weight: 500;
}

/****************************CLIENTES**************************/
.clients {
  display: flex;
  overflow-x: scroll;
}

.clients__log img {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.clients__log {
  margin: 30px 10px;
}

.clients__log span {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.recomendacion__articles-target {
  margin: 20px auto;
}

.recomendacion__articles figure {
  display: flex;
  margin-bottom: 10px;
}

.recomendacion__articles img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.recomendacion__articles p {
  font-size: 1.6rem;
  font-weight: 500;
}

.recomendacion__articles-target .cliente {
  font-weight: 700;
}

/****************************LEARNING**************************/
.learning__description {
  font-size: 1.6rem;
  margin: 20px auto;
}

.learnin_course {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.contenedor__target-youtube {
  display: flex;
}

.target__course {
  scroll-snap-align: scroll;
}

.learning__course-article {
  scroll-snap-align: center;
  background: linear-gradient(180deg, #b7b7b7 0%, #ffffff 74.48%);
  color: #000;
  min-width: 250px;
  max-width: 300px;
  height: 250px;
  width: 69%;
  margin: 0 11px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 0px 1px 1px rgb(241 233 176 / 35%);
  margin-right: 15px;
  border: 1px solid #000;
  width: 500px;
}

.learnin_course img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  width: 100%;
}

.learning__course-article h3,
p,
span {
  padding: 6px;
}

.learning__course-article p {
  font-size: 1.3rem;
}

.learning__course-article span {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.learning__course-article span img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

/****************************FORMULARIO**************************/
.form {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.label__title {
  font-size: 1.3rem;
  display: block;
  padding: 10px 0;
  margin: 15px 0;
  color: var(--title);
  font-size: 1.6rem;
  font-weight: 600;
}

.input__form {
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--title);
  margin: 10px 0;
  color: var(--color);
  cursor: pointer;
  outline: none;
}

.botonEnviar {
  padding: 10px;
  margin: 0 30px;
  border-radius: 10px;
  border: none;
  background: var(--title);
}

.alert {
  font-size: 1.6rem;
  margin: 15px 0;
  font-weight: 700;
}

/****************************FOOTER**************************/
footer {
  height: 35vh;
  width: 100%;
}

/****************************BOTON DARK**************************/
.dark__mode {
  /* position: fixed; */
  position: fixed;
  right: 0;
  margin: 5px 10px;
}

.checkbox {
  display: none;
}

.checkbox:checked~.botton-dark::before {
  transform: translateX(0);
}

.botton-dark {
  /* border: 1px solid red; */
  height: 25px;
  width: 40px;
  display: block;
  border-radius: 20px;
  background: var(--dark);
  padding: 3px;
  cursor: pointer;
  user-select: none;
}

.botton-dark::before {
  content: "";
  display: block;
  background: var(--botoDark);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateX(18px);
  transition: 0.3s;
  will-change: transform;
}

.is-dark-mode {
  --base: #000;
  /* linear-gradient(180deg, #040404 26.56%, #5f336f 100%); */
  --color: #fff;
  --dark: linear-gradient(180deg, #b7b7b7 0%, #ffffff 74.48%);
  --fondo: rgba(0, 0, 0, 0.9);
}

.is-light-mode {
  --base: #fff;
  --headerBackground: rgba(255, 180, 0, 0.6);

  --colorHeader: #000;
  --gray: gray;
  --botoDark: linear-gradient(90deg,
      rgba(255, 180, 0, 0.76) 15.4%,
      rgba(255, 231, 106, 0.9) 49.63%);
  --color: #000;
  --fondo: rgba(255, 255, 255, 0.6);
  --dark: linear-gradient(90deg,
      #24221f 13.38%,
      rgba(40, 42, 46, 0.6) 52.24%,
      #615175 90.03%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #000;
    --color: #fff;
    --dark: linear-gradient(180deg, #b7b7b7 0%, #ffffff 74.48%);
    --fondo: rgba(0, 0, 0, 0.9);
    --botoDark: linear-gradient(90deg,
        rgba(255, 180, 0, 0.76) 15.4%,
        rgba(255, 231, 106, 0.9) 49.63%);
  }
}