.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper_1 {
  width: 50%;
  position: absolute;
  left: 0;
}
.wrapper_2 {
  position: absolute;
  right: 0;
  width: 40%;
  margin-left: 40px;
}

.hero {
  height: 340px;
}
.last-stream--img img {
  width: 90%;
  height: 200px;
}

.photo-container img {
  width: 80px;
  height: 80px;
}

.photo-container {
  top: 155px;
  left: calc(50% - 40px);
}
.info-text {
  padding: 0 25px;
  font-size: 2rem;
}
.info-hours--details h3 {
  font-size: 1.8rem;
}
.info-hours--details p {
  font-size: 1.8rem;
}

.info-hours-call {
  width: 50%;
  font-size: 1.6rem;
}
.instagram-reels {
  display: flex;
  height: 220px;
  overflow-x: hidden;
}

.recomendation-card {
  display: flex;
  height: 150px;
  overflow-x: hidden;
}

.header-social img {
  width: 20px;
  height: 20px;
}
